:local(.albums)  {

  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  h2 {
    padding-left: 2rem;
  }
}