body {
  display: grid;
  grid-template-rows: 3rem 5rem 1fr 3rem;
  grid-template-areas: 
  "nav"
  "header"
  "main"
  "footer";
  background-color: #2E9191;
  margin: 0;
}

nav { 
  grid-area: nav;
  background-color: #1D576B
 }
header { 
  grid-area: header;
 }
main { 
  grid-area: main;
 }
footer { 
  grid-area: footer;
  background-color: #1D576B;
 }